.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

.off {display: none;}
.on {display: block;}
.tag {
  border-radius: 20px !important;
  border-color: none !important;
}